<app-home-picture></app-home-picture>

<!--<div id="welcome-title">-->
<!--  <h1>-->
<!--    {{ title }}-->
<!--  </h1>-->
<!--  <p>-->
<!--    Pre-production use only-->
<!--  </p>-->
<!--</div>-->

<mat-card>



<div class="container-fluid" style="padding-top:0px;">
  <div class="row">
    <div class="col-sm-8" style="background-color:;">
      <br/><br/>
        <mat-card-title>
          <p id="LTitle"></p>
        </mat-card-title>
        <mat-card-subtitle>
        <p id="LSub">
        </p>
        </mat-card-subtitle>

        <p id="LBody">
          
        </p>
        
        <a routerLink='create-account'><button mat-raised-button class='off-white'>Create Account</button></a>
    
    </div>

    <div class="col-sm-4" style="padding-top:10px;">
      <div>
        <mat-card>
          <mat-card-title>
            <p id="TRTitle"></p>
          </mat-card-title>
          <p id="TR">
          </p>
        </mat-card>
      </div>
      <br/>
      <div>
          <mat-card-title>
            <p id="BRTitle"></p>
          </mat-card-title>
          <p id="BR">
          </p>
      </div>
    </div>
  </div>

</div>

</mat-card>

