#welcome-title {
    text-align: center;
    color: #22244d;
    
}

/* Colour palette
---------------------
 off white:   #fdfaf3
 black:       #211009
 cobalt:      #324c7f
 bright blue: #016cae
 turquoise:   #006d8c
 yellow:      #fecf06
 navy blue:   #22244d
 orange:      #fbad33
---------------------
*/