<div *ngIf="!data.client; else isClient">
  <div id="myForm" style="float:none;">
    <h3 matDialogTitle>{{date}}</h3>
    <div *ngIf="data.data.state!=2&&data.data.state!=1; else notBlock">
      <h5 matDialogTitle>Block Off Time</h5>
    </div>
    <ng-template #notBlock>
      <mat-card>
        <mat-card-title>
          {{data.data.givenName}} {{data.data.familyName}}
        </mat-card-title>
          <h4 style="margin-bottom:0px">Title:</h4>
          {{data.data.title}}
          <br><br>
          <h4>Description:</h4>
          {{data.data.description}}
        <!--<h5 matDialogTitle>{{data.data.title}}</h5>-->
        <!--<div style="width:150px; margin-bottom:20px">-->
        <!--  -->
        <!--</div>-->
      </mat-card>
    </ng-template>
    <div id="block-appointment" [formGroup]="appointmentForm">
      <div class="col-sm-12">
        <div class="col-sm-12">
          <h4>Start Time</h4>
        </div>
          <mat-form-field>
              <mat-label>Hour</mat-label>
              <mat-select placeholder="Hour" formControlName="startHour">
                  <mat-option *ngFor="let hour of Hours; let i = index;" [value]="i">{{hour}}</mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field>
              <mat-label>Minute</mat-label>
              <mat-select placeholder="Minute" formControlName="startMinute">
                  <mat-option *ngFor="let Minute of Minutes; let i = index;" [value]="i">{{Minute}}</mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field>
              <mat-select formControlName="startTiming">
                  <mat-option [value]="0">AM</mat-option>
                  <mat-option [value]="1">PM</mat-option>            
              </mat-select>
          </mat-form-field>
      </div>
      <div class="col-sm-12">
        <div class="col-sm-12">
          <h4>End Time</h4>
        </div>
          <mat-form-field>
              <mat-label>Hour</mat-label>
              <mat-select placeholder="Hour" formControlName="endHour">
                  <mat-option *ngFor="let hour of Hours; let i = index;" [value]="i">{{hour}}</mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field>
              <mat-label>Minute</mat-label>
              <mat-select placeholder="Minute" formControlName="endMinute">
                  <mat-option *ngFor="let Minute of Minutes; let i = index;" [value]="i">{{Minute}}</mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field>
              <mat-select formControlName="endTiming">
                  <mat-option [value]="0">AM</mat-option>
                  <mat-option [value]="1">PM</mat-option>            
              </mat-select>
          </mat-form-field>
      </div>
      <div class="col-sm-12" style="margin-top:10px">

        <div *ngIf="data.data.state!=2&&data.data.state!=1; else buttonBlock">
          <button mat-raised-button (click)="submitBlock()">Save Block</button>
          <button mat-raised-button (click)="deleteBook()">Delete Block</button>
          <button mat-raised-button (click)="allDay()">Block Whole Day</button>
        </div>
        <ng-template #buttonBlock>
          <div *ngIf="data.data.state==2; else notPending">
            <button mat-raised-button (click)="saveChanges()">Save Changes</button>
            <button mat-raised-button (click)="deleteBook()">Delete Booking</button>
            <button mat-raised-button (click)="changeState(1)">Save & Accept Booking</button>
          </div>
          <ng-template #notPending>
            <button mat-raised-button (click)="saveChanges()">Save Changes</button>
            <button mat-raised-button (click)="deleteBook()">Delete Booking</button>
          </ng-template>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<ng-template #isClient>
  <div *ngIf="editable; else onlyView">
    <div id="myForm" style="float:none;">
      <h3 matDialogTitle>{{date}}</h3>
      <div id="request-appointment" [formGroup]="appointmentForm">
        <div class="col-sm-12">
          <mat-form-field style="max-width:200px" >
            <input matInput placeholder="Title" formControlName="title">
          </mat-form-field>
        </div>
        <div class="col-sm-7">
          <mat-form-field style="width:100%;" >
            <textarea matInput placeholder="Description" formControlName="description" style="min-height:100px" ></textarea>
          </mat-form-field>
        </div>
        <div class="col-sm-12">
          <div class="col-sm-12">
            <h4>Start Time</h4>
          </div>
            <mat-form-field>
                <mat-label>Hour</mat-label>
                <mat-select placeholder="Hour" formControlName="startHour">
                    <mat-option *ngFor="let hour of Hours; let i = index;" [value]="i">{{hour}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Minute</mat-label>
                <mat-select placeholder="Minute" formControlName="startMinute">
                    <mat-option *ngFor="let Minute of Minutes; let i = index;" [value]="i">{{Minute}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select formControlName="startTiming">
                    <mat-option [value]="0">AM</mat-option>
                    <mat-option [value]="1">PM</mat-option>            
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-12">
          <div class="col-sm-12">
            <h4>End Time</h4>
          </div>
            <mat-form-field>
                <mat-label>Hour</mat-label>
                <mat-select placeholder="Hour" formControlName="endHour">
                    <mat-option *ngFor="let hour of Hours; let i = index;" [value]="i">{{hour}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Minute</mat-label>
                <mat-select placeholder="Minute" formControlName="endMinute">
                    <mat-option *ngFor="let Minute of Minutes; let i = index;" [value]="i">{{Minute}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select formControlName="endTiming">
                    <mat-option [value]="0">AM</mat-option>
                    <mat-option [value]="1">PM</mat-option>            
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-12" style="margin-top:10px">
          <button mat-raised-button (click)="submitAppointmentRequest()">Request Booking</button>
          <button mat-raised-button (click)="deleteBook()">Delete Booking</button>
        </div>
      </div>
    </div>
  </div>
  <ng-template #onlyView>
    <h3 matDialogTitle>{{date}}</h3><br>
    {{data.data.title}}<br> <br>
    {{data.data.description}}
  </ng-template>
</ng-template>
